
<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-label color="nerus" id="alignCenter"><h1>Nerus Eventos</h1></ion-label>
      <button ion-button item-left clear large (click)="modalPlayListCasdastradas()">
        <ion-icon name="menu" color="nerus">
        </ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding id="pageBackColor">
  <ion-fab right bottom>
    <button ion-fab color="nerus" (click)="modalCadastrarPlayList()">
      <ion-icon name="add" color="dark">
      </ion-icon>
    </button>
  </ion-fab>

  <ion-card color="dark" *ngIf="playList">
    <ion-card-header>
        <ion-item color="dark">
          <ion-label color="nerus">{{playList.getNome()}}</ion-label>
          <ion-icon name="musical-notes" item-left color="ON"></ion-icon>
          <button ion-button item-right color="nerus" (click)="modalDropBox()">
            <ion-icon name="mic" color="dark"></ion-icon>
          </button>
          <button ion-button color="nerus" item-right (click)="ModalEditarPlayList()">
              <ion-icon name="settings" color="dark"></ion-icon>
          </button>
        </ion-item>
        <ion-label id="Divisao">-</ion-label>
    </ion-card-header>

    <ion-card-content *ngIf="audios.length > 0">
      <ion-slides>
        <ion-slide>
          <ion-list *ngFor = "let audio of audios">
              <ion-item color = "dark">
                <ion-icon name = "mic" item-left color="ON"></ion-icon>
                <ion-label color="grey" id="alignCenter">{{audio.getNome()}}</ion-label>
                <button ion-button item-right color="nerus" (click)="removerAudio(audio.getNome())"><ion-icon name="trash" color="dark"></ion-icon></button>
                <ion-toggle color="nerus" item-right (click)="setAudioMestre(audio)"></ion-toggle>
              </ion-item>
          </ion-list>
            <ion-label color="nerus"><b>Arraste para Editar Intervalo</b></ion-label>
        </ion-slide>
        <ion-slide>
          <ion-label color="nerus" *ngIf="audios.length == 0">Nenhum audio adicionado</ion-label>
            <ion-list *ngFor = "let audio of audios">
              <ion-item color = "dark">
                <ion-range pin="true" color="nerus"  min = "0" max = "900"[(ngModel)]="audio.intervalo"></ion-range>
                <ion-label color="ON" stacked>{{audio.getNome()}}</ion-label>
              </ion-item>
            </ion-list>
        </ion-slide>
      </ion-slides>
      </ion-card-content>
      <ion-card-header color="dark">
          <ion-label id="Divisao">-</ion-label>
        <ion-item color="dark">
          <ion-label color="secondary" id="alignCenter">{{playList.getCodigo()}}</ion-label>
        </ion-item>
        <button ion-button color="nerusOP" full item-right (click)="gerarNovoCodigo()">
            <ion-icon name="refresh"></ion-icon>
        </button>

      </ion-card-header>
  </ion-card>

</ion-content>
