
<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-label color="nerus" id="alignCenter"><h1>Nerus</h1></ion-label>
      <button ion-button item-left clear large (click)="modalPlayListCasdastradas()">
        <ion-icon name="menu" color="nerus">
        </ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding id="pageBackColor">

  <ion-card color="dark" *ngIf="playList">
    <ion-card-header>
        <ion-item color="dark">
          <ion-label color="nerus">{{playList.getNome()}}</ion-label>
          <ion-icon name="musical-notes" item-left color="ON"></ion-icon>
          <button ion-button color="nerus" item-right (click)="ModalEditarPlayList()">
              <ion-icon name="settings" color="dark"></ion-icon>
          </button>
        </ion-item>
        <ion-label id="Divisao">-</ion-label>
        <ion-segment [(ngModel)]="opAudios">

          <ion-segment-button value="check">
            <ion-icon name="checkmark-circle" color="ON"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="ordem">
            <ion-icon name="reorder" color="ON"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="intervalo">
            <ion-icon name="pulse" color="ON"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="dropbox" (click)="modalDropBox()">
            <ion-icon name="logo-dropbox" color="ON"></ion-icon>
          </ion-segment-button>

        </ion-segment>
    </ion-card-header>

    <ion-card-content [ngSwitch]="opAudios">
        <div *ngSwitchCase="'check'">
            <ion-label color="nerus" *ngIf="audios.length ==0"> Nenhum audio adicionado</ion-label>
            <ion-list *ngFor="let audio of audios">
                <ion-item color="dark">
                  <ion-label color="grey">
                    {{audio.getNome()}}
                  </ion-label>
                </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchCase = "'ordem'">
          <ion-label color="nerus" *ngIf="audios.length ==0"> Nenhum audio adicionado</ion-label>
          <ion-list>
            <ion-item-group reorder="true" (ionItemReorder)="mudarOrdem($event)">
                <ion-item color="dark" *ngFor="let audio of audios">
                  <ion-label color="grey">
                    {{audio.getNome()}}
                  </ion-label>
                  <button ion-button color="nerus" item-right (click)="removerAudio(audio.getNome())">
                      <ion-icon color="dark" name="trash"></ion-icon>
                  </button>
                </ion-item>
            </ion-item-group>
          </ion-list>
        </div>

        <div *ngSwitchCase="'intervalo'">
            <ion-label color="nerus" *ngIf="audios.length ==0"> Nenhum audio adicionado</ion-label>
            <ion-list *ngFor="let audio of audios">
                <ion-item color="dark">
                  <ion-label color="grey" stacked>
                    {{audio.getNome()}}
                  </ion-label>
                  <ion-range pin = "true"[(ngModel)]="audio.intervalo" min="20" max="900" color="nerus"></ion-range>
                </ion-item>
            </ion-list>
        </div>
        <ion-item color="dark">
            <ion-label color="ON" id="alignCenter">
              {{playList.getCodigo()}}
            </ion-label>
            <button ion-button clear large item-right (click)="playList.gerarCodigo()">
              <ion-icon name="refresh-circle" color= "nerus"></ion-icon>
            </button>
        </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
