<!--
  Generated template for the ModalAdicionarAudios page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-label id = "alignCenter" color="nerus"><h1>Cadastrar Audios</h1></ion-label>
  </ion-navbar>

</ion-header>


<ion-content padding id="pageBackColor">
  <ion-card color="dark">
    <ion-card-header>
        <ion-title id="alignCenter">
          <ion-label color="nerus">Audios</ion-label>
        </ion-title>
        <ion-label id="Divisao">-</ion-label>
        <ion-segment [(ngModel)]="opAudios">

          <ion-segment-button value="check">
            <ion-icon name="checkmark-circle" color="ON"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="ordem">
            <ion-icon name="reorder" color="ON"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="intervalo">
            <ion-icon name="pulse" color="ON"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="dropbox" (click)="getAudios()">
            <ion-icon name="logo-dropbox" color="ON"></ion-icon>
          </ion-segment-button>

        </ion-segment>
    </ion-card-header>

    <ion-card-content [ngSwitch]="opAudios">
        <div *ngSwitchCase="'check'">
            <ion-label color="nerus" *ngIf="audios.length ==0"> Nenhum audio adicionado</ion-label>
            <ion-list *ngFor="let audio of audios">
                <ion-item color="dark">
                  <ion-label color="grey">
                    {{audio.getNome()}}
                  </ion-label>
                </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchCase = "'ordem'">
          <ion-label color="nerus" *ngIf="audios.length ==0"> Nenhum audio adicionado</ion-label>
          <ion-list>
            <ion-item-group reorder="true" (ionItemReorder)="mudarOrdem($event)">
                <ion-item color="dark" *ngFor="let audio of audios">
                  <ion-label color="grey">
                    {{audio.getNome()}}
                  </ion-label>
                  <button ion-button color="nerus" item-right (click)="removerAudio(audio.getNome())">
                      <ion-icon color="dark" name="trash"></ion-icon>
                  </button>
                </ion-item>
            </ion-item-group>
          </ion-list>
        </div>

        <div *ngSwitchCase="'intervalo'">
            <ion-label color="nerus" *ngIf="audios.length ==0"> Nenhum audio adicionado</ion-label>
            <ion-list *ngFor="let audio of audios">
                <ion-item color="dark">
                  <ion-label color="grey" stacked>
                    {{audio.getNome()}}
                  </ion-label>
                  <ion-range pin = "true"[(ngModel)]="audio.intervalo" min="20" max="900" color="nerus"></ion-range>
                </ion-item>
            </ion-list>
        </div>

    </ion-card-content>
  </ion-card>
    <button ion-button color="dark" full large (click)="setAudios()">
      <ion-icon name="checkmark-circle" color="nerus"></ion-icon>
    </button>
</ion-content>
